.buttons{
    display: flex;
    flex-direction: column;    
}

.link-button{
    width: 50%;
    border: 0;
    margin-top: 30px;
    background: #7d40e7;
    border-radius: 5px;
    padding:  15px 20px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: background 0.5s;
}

.link-button a{
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}
.updateButton{
    width: 50%;
    border: 0;
    margin-top: 30px;
    background: #7d40e7;
    border-radius: 5px;
    padding:  15px 20px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: background 0.5s;
}

.deleteButton{
    width: 50%;
    border: 0;
    margin-top: 30px;
    background: #7d40e7;
    border-radius: 5px;
    padding:  15px 20px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: background 0.5s;
}


/* Configs do diego */
li.dev-item{
    background: #FFF;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
    border-radius: 2px;
    padding: 20px;
}

li.dev-item header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

li.dev-item header img{
    width: 54px;
    height: 54px;
    border-radius: 50%;
}

li.dev-item header .user-info{
    margin-left: 10px;
}

.user-info strong{
    display: block;
    font-size: 16px;
    color: #333;
}

.user-info span{
    font-size: 13px;
    color: #999;
    margin-top: 2px;
}

li.dev-item p{
    color: #666;
    font-size: 14px;
    line-height: 20px;
    margin:  10px 0;
}

